{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="profile">
    <img src="{{ url_for('static', filename='rendy.png') }}" alt="Rendy Mareno Pehry">
    <h1>Rendy Mareno Pehry</h1>
    <p>Saya adalah mahasiswa Teknik Elektro di Universitas Padjadjaran, berasal dari Medan dan berusia 19 tahun. Di sela-sela kesibukan kuliah, saya menikmati waktu luang dengan membaca novel sambil mendengarkan lagu, sebuah kombinasi yang membantu saya tetap kreatif dan rileks.</p>
</div>
{% endblock %}